p{
       font-size:15px;
       
       text-align:center;
       margin:auto;
       padding:10px;
   } 
   
   img{
       width:80% ;
       padding:14px;
       margin:auto;

       border-radius:30px;

     

   }
   
   h1{
       width:80%;
       text-align:center;
       margin:auto;
       padding:15px;
   }
   body{
       max-width:80%;
       background-color:white
       border-radius:30px;
       font-family: 'Outfit', sans-serif;

   }
